[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
loguru = "*"
rich = "*"
peewee = "*"
pyppeteer = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
